* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 300 16px/22px "Ubuntu", sans-serif;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.header-wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 25px;

  color: white;
  font-size: 32px;

  background: #000000;
}

.name {
  font-size: 40px;
}

.about {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  border-radius: 50%;
}

.contacts {
  list-style: none;
  margin-top: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
}

.summary,
.skills,
.code-examples,
.experience,
.education,
.languages {
  padding: 16px;
  margin-top: 24px;

  border-top: 2px solid;
}

.languages {
  padding-bottom: 24px;
}

.title {
  color: black;
  font-size: 24px;
  padding: 12px;

  text-align: center;
}

.goal {
  margin-top: 24px;
  padding: 0 48px;

  text-align: center;
}

.list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  list-style: none;
}

.skill {
  min-width: 100px;

  font-weight: bold;
}

.socials {
  display: flex;

  list-style: none;
}

.social + .social {
  margin-left: 8px;
}
